@using EntityLayer.Concrete
@model List<Egitim>

            <section class="resume-section" id="education">
   
        

    <div class="resume-section-content">
                    <h2 class="mb-5">Eğitim Kariyerim</h2>
                     @foreach(var item in Model)
    {
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">@item.OkulAdi</h3>
                            <div class="subheading mb-3">@item.BölümAdi</div>
                            <div>Computer Science - Web Development Track</div>
                            <p>GPA: @item.BitirmePuani</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">@item.OkulGirisTRH - @item.OkulCikisTRH</span></div>
                    </div>
                     }
                </div>
                  
            </section>